fastapi>=0.95.0
fastapi-mail>=1.4.0
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
aiofiles
alembic
python-jose
passlib
python-multipart
pydantic
pydantic-settings
greenlet
python-docx>=1.1.0
python-dateutil>=2.8.2
bcrypt
prometheus-client>=0.16.0
starlette-exporter>=0.16.0
httpx>=0.24.0
